<div id="contact" class="container bg-color">
  <h2>Contact</h2>
  <div class="row">
    <div class="col-md-4">
      <p>
        Reach me by email:<br>
        <a href="mailto:danieltuveson@gmail.com">danieltuveson@gmail.com</a>
        <br>
        <a href="mailto:danieltuveson@gmail.com">
          <i class="fas fa-envelope fa-7x"></i>
        </a>
      </p>
    </div>
    <div class="col-md-4">
      <p>
        Connect me on LinkedIn:<br>
        <a target="_blank" href="https://www.linkedin.com/in/daniel-tuveson/">
          linkedin.com/in/daniel-tuveson
        </a>
        <br>
        <a target="_blank" href="https://www.linkedin.com/in/daniel-tuveson/">
          <i class="fab fa-linkedin fa-7x"></i>
        </a>
      </p>
    </div>
    <div class="col-md-4">
      <p>
        Follow me on GitHub:<br>
        <a target="_blank" href="https://www.linkedin.com/in/daniel-tuveson/">
          github.com/danieltuveson
        </a>
        <br>
        <a target="_blank" href="https://github.com/danieltuveson">
          <i class="fab fa-github fa-7x"></i>
        </a>
      </p>
    </div>
  </div>
</div>
