<div id="portfolio" class="container bg-color">
  <h2>Portfolio</h2>
  
  <!-- Snake -->
  <div class="row">
    <div class="col-md-8">
      <div id="portfolio-text-description" class="portfolio-text">
        <h4>Snake</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="img-container">
        <img src="img/snake.png" alt="Screenshot of the snake game"/>
      </div>
    </div>
  </div>

  <!-- Website -->
  <div class="row">
    <div class="col-md-8">
      <div id="portfolio-text-description" class="portfolio-text">
        <h4>Personal Website</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div id="personal-site-img-container" class="img-container">
        <img src="img/personal-website.png" alt="Screenshot of the snake game"/>
      </div>
    </div>
  </div>

  <!-- Twitter bot -->
  <div class="row">
    <div class="col-md-8">
      <div id="portfolio-text-description" class="portfolio-text">
        <h4>Twitter Bot</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="img-container">
        <img src="img/bb8.jpg" alt="Photo of my adorable cat, bb-8"/>
      </div>
    </div>
  </div>
</div>
