<div id="portfolio" class="container bg-color">
  <div class="row">
    <div class="col-lg-7">
      <div id="portfolio-text-description" class="portfolio-text">
        <h2>Portfolio</h2>
        <p>
          I am a recent physics graduate with a passion for programming. After graduating in May, I spent several months developing my skills in front and back end web development in my spare time while completing an internship with INLT. While working for INLT, I built components for their React application using open source libraries such as Ant Design, Recharts, and Storybook, in addition to creating google analytics dashboards to monitor site usage. During and after my internship, I worked remotely at NextThought, creating math and physics tutorials for Chegg. I enjoy learning new technologies and solving complex analytical problems. 
        </p>
        <p>
          Technical skills: JavaScript, Java, Python, React, NodeJS, Express, SQL, Mongoose / MongoDB, HTML, CSS, Microsoft Office, Google Drive, Git / GitHub, UNIX shell / Bash.
        </p>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="person-img">
        <img src="img/daniel-tuveson.jpg" alt="Photo of Daniel Tuveson"/>
      </div>
    </div>
  </div>
</div>
