<div id="portfolio" class="container bg-color">
  <div class="row margin-bottom-20">
    <div class="col-md-12">
      <h2>Portfolio</h2>
      <p>
        The following are a handful of small projects that I have been working on in my spare time. The code for all of them can be viewed on GitHub and the applications have been deployed using Heroku. 
    </div>
  </div>
  
  <div class="row margin-bottom-20">
    <!-- Snake -->
    <div class="col-md-3">
      <div id="snake-text-description" class="portfolio-text">
        <h4>Snake</h4>
        <p>
          A classic arcade game notable for its inclusion in those old brick-like Nokia phones. The front end / game is built using JavaScript, HTML, CSS, and Bootstrap. The back end is built with Node / Express.
        </p>
        <p>
          <a href="https://github.com/danieltuveson/snake" target="_blank">
            <em>link to github</em>
          </a>
          &nbsp; / &nbsp;
          <a href="https://dan-snake.herokuapp.com/" target="_blank">
            <em>link to game</em>
          </a>
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="img-container">
        <img src="img/snake.png" alt="Screenshot of the snake game"/>
      </div>
    </div>

    <!-- Personal website -->
    <div class="col-md-3">
      <div id="website-text-description" class="portfolio-text">
        <h4>Personal Website</h4>
        <p>
          This project is the site you're on now! The front end is built using JavaScript, Handlebars, CSS, and Bootstrap. The back end is built with Node / Express. 
        </p>
        <p>
          <a href="https://github.com/danieltuveson/personal-website" target="_blank">
            <em>link to github</em>
          </a>
          &nbsp; / &nbsp;
          <a href="/" target="_blank">
            <em>link to site</em>
          </a>
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div id="personal-site-img-container" class="img-container">
        <img src="img/personal-website.png" alt="Screenshot of the snake game"/>
      </div>
    </div>
  </div>


  <div class="row row-margin">
    <!-- Twitter bot -->
    <div class="col-md-3">
      <div id="bot-text-description" class="portfolio-text">
        <h4>Twitter Bot</h4>
        <p>
          This is a bot that posts a photo of my cat to twitter every day. It was written in python and uses the tweepy library to access the twitter api. 
        </p>
        <p>
          <a href="https://github.com/danieltuveson/twitter-bot" target="_blank">
            <em>link to github</em>
          </a>
          &nbsp; / &nbsp;
          <a href="https://twitter.com/dd_cat_pics" target="_blank">
            <em>link to twitter</em>
          </a>
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div id="twitter-bot-img-container" class="img-container">
        <img src="img/bb8.jpg" alt="Photo of my adorable cat, bb-8"/>
      </div>
    </div>

    <!-- Coming soon -->
    <div class="col-md-3">
      <div id="coming-soon-description" class="portfolio-text">
        <h4>Coming Soon!</h4>
        <p>
          Projects that I'm currently working on can be found on my 
          <a href="https://github.com/danieltuveson" target="_blank">github page</a>. 
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <p class="align-center">
        <a target="_blank" href="https://github.com/danieltuveson">
          <i class="fab fa-github fa-7x"></i>
        </a>
      </p>
    </div>
  </div>
</div>
