@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Raleway:100,200,300,400,500,600,700,800,900|Yellowtail");


/* Main styles */
body {
  line-height: 24px;
  font-size: 14px;
  color: #333333;
  font-family: "Raleway", sans-serif;
  background-image: url("../img/connectwork.png");
  background-repeat: repeat;
}

em {
  font-style: italic;
}

.container {
  align-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 40px;
}

.bg-color {
  background: #f1f1d4;
}


/* Navbar styles */
.nav {
  padding: 10px;
}

.navbar-brand {
  font-size: 1.5em;
  padding-left: 20px;
}
.nav-item {
  font-size: 1.2em;
  padding-right: 20px;
}




/* Home styles */
#home-text-description {
  min-height: 322px;
}

.person-img {
  margin-bottom: 20px;
}

.person-img img {
  max-width: 100%;
}

#resume {
  max-width: 750px;
  min-width: 500px;
}


/* Resume styles */
#resume-header {
  text-align: center;
}

#resume-download-btn {
  text-align: right;
}

.resume-content {
  padding-left: 3em;
  padding-right: 3em;
}

.period-of-employment {
  float: right;
}


/* Contact */
#contact .row {
  text-align: center;
}
#contact a { 
  color: #4286f4; 
}

.fa-envelope {
  color: maroon;
}

.fa-envelope:hover {
  color: #c40000;
}

.fa-linkedin {
  color: navy;
}

.fa-linkedin:hover {
  color: #0000ff;
}

.fa-github {
  color: #000000;
}

.fa-github:hover {
  color: #515151;
}


/* Portfolio */
.img-container {
  margin-bottom: 20px;
  max-width: 300px;
}

#portfolio img {
  max-width: 100%;
}

#personal-site-img-container {
  border: 1px dashed black
}




















